In [241]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf

from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_pacf, plot_acf
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.stattools import adfuller

from matplotlib import rc
from matplotlib import rcParams
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

import itertools

In [242]:
data=pd.read_csv('./zillow_data.csv')

In [243]:
data

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [244]:
#pd.get_option("display.max_rows")
pd.set_option("display.max_rows", 500)

In [245]:
#separate out areas within the state of California
data_ca = data.loc[data.State=='CA']
data_ca.Metro.unique()

array(['San Francisco', 'Los Angeles-Long Beach-Anaheim', 'Sacramento',
       'Napa', 'San Diego', 'Fresno', 'Vallejo', 'Riverside', 'Ventura',
       'San Jose', 'Bakersfield', 'Visalia', 'Hanford', 'Santa Cruz',
       'Modesto', 'Redding', 'Santa Maria-Santa Barbara', 'Stockton',
       'Salinas', 'San Luis Obispo', 'Santa Rosa', 'Chico', 'El Centro',
       'Yuba City', 'Merced', 'Ukiah', 'Truckee', 'Madera', 'Eureka',
       'Susanville', nan, 'Clearlake'], dtype=object)

In [246]:
#separate out the Metro areas of San Francisco 
data_sf = data[(data.Metro == 'San Francisco') & (data.State == 'CA')]
print(data_sf.City.unique())
print(data_sf.shape)
data_sf.head()

['San Francisco' 'Pittsburg' 'Alameda' 'Fremont' 'Hayward' 'Antioch'
 'Brentwood' 'Union City' 'Dublin' 'South San Francisco' 'Martinez'
 'Daly City' 'Oakland' 'Livermore' 'San Leandro' 'Castro Valley'
 'San Mateo' 'Burlingame' 'San Bruno' 'Pleasanton' 'Concord' 'Menlo Park'
 'San Rafael' 'Foster City' 'Richmond' 'Pacifica' 'Pleasant Hill'
 'San Ramon' 'Newark' 'Redwood City' 'Oakley' 'Danville' 'Mill Valley'
 'San Carlos' 'Belmont' 'El Cerrito' 'Lafayette' 'Walnut Creek' 'Berkeley'
 'Novato' 'San Lorenzo' 'El Sobrante' 'Millbrae' 'Hercules' 'Albany'
 'Pinole' 'Orinda' 'Half Moon Bay' 'San Anselmo' 'Tiburon' 'Discovery Bay'
 'Sausalito' 'Alamo' 'Moraga' 'Kentfield' 'Clayton' 'Corte Madera'
 'Fairfax' 'Larkspur' 'Rodeo' 'Portola Valley' 'Atherton' 'Brisbane'
 'Crockett' 'Montara' 'Moss Beach' 'Ross' 'La Honda' 'Woodacre'
 'Stinson Beach']
(134, 272)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,766000.0,771100.0,776500.0,...,3767700,3763900,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500
27,97771,94565,Pittsburg,CA,San Francisco,Contra Costa,28,139200.0,138300.0,137500.0,...,394900,398400,401600,405400,408600,410900,413700,417900,424300,430100
64,97711,94501,Alameda,CA,San Francisco,Alameda,65,222400.0,222300.0,222400.0,...,965100,975000,987800,1000000,1009900,1021000,1032400,1042000,1053000,1059700
76,97565,94110,San Francisco,CA,San Francisco,San Francisco,77,213900.0,214800.0,216000.0,...,1503000,1506400,1513500,1525200,1533600,1536500,1536200,1544400,1570000,1594000
186,97743,94536,Fremont,CA,San Francisco,Alameda,187,223200.0,223200.0,223300.0,...,960100,968200,978000,989600,1002400,1018700,1033100,1045400,1061200,1072700

In [247]:
#separate out the Metro areas of San Jose
data_sj = data[(data.Metro == 'San Jose') & (data.State == 'CA')]
print(data_sj.City.unique())
print(data_sj.shape)

['San Jose' 'Santa Clara' 'Milpitas' 'Cupertino' 'Sunnyvale' 'Campbell'
 'Gilroy' 'Morgan Hill' 'Hollister' 'Mountain View' 'Palo Alto' 'Saratoga'
 'Los Gatos' 'Los Altos' 'Stanford' 'Lexington Hills' 'San Martin'
 'San Juan Bautista' 'Aromas']
(55, 272)

# NOTE: 
in order to convert our wide 272 columns dataframe to a long version, we will use the pandas.melt() function:

**pandas.melt(frame, id_vars=None, value_vars=None,
 var_name=None, value_name='value', col_level=None)**
 
value_vars If not specified, uses all columns that are not set as id_vars.

### QUESTION: why the code block below does not show the time and its equal mean values as part of the original dtaframe despite using the melt() function?
if we use 'return melted' instead of 'return melted.groupby('time').aggregate({'value':'mean'})' it gives us the long version of the wide dataframe **but without the averge value**

In [248]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID','RegionName', 'City', 'State', 'Metro', 
                                  'CountyName','SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True, format='%Y-%m-%d')
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [249]:
data = melt_data(data)
data

                    value
time
1996-04-01  118299.123063
1996-05-01  118419.044139
1996-06-01  118537.423268
1996-07-01  118653.069278
1996-08-01  118780.254312
1996-09-01  118927.528500
1996-10-01  119120.520316
1996-11-01  119345.352236
1996-12-01  119685.084771
1997-01-01  120121.265712
1997-02-01  120544.241450
1997-03-01  120896.623794
1997-04-01  121268.174510
1997-05-01  121655.897398
1997-06-01  122053.105817
1997-07-01  122456.339057
1997-08-01  122879.926927
1997-09-01  123327.402265
1997-10-01  123823.105590
1997-11-01  124353.737669
1997-12-01  125002.601388
1998-01-01  125736.669833
1998-02-01  126450.778111
1998-03-01  127086.257032
1998-04-01  127736.362972
1998-05-01  128385.014978
1998-06-01  129032.702564
1998-07-01  129676.357127
1998-08-01  130324.519617
1998-09-01  130982.618543
1998-10-01  131678.088697
1998-11-01  132399.342442
1998-12-01  133224.702272
1999-01-01  134133.593921
1999-02-01  135020.881128
1999-03-01  135841.586907
1999-04-01  136683.794842
1999-05-01  137532.147293
1999-06-01  138391.809746
1999-07-01  139265.156718
1999-08-01  140160.604954
1999-09-01  141084.832323
1999-10-01  142070.095711
1999-11-01  143104.040330
1999-12-01  144261.328268
2000-01-01  145522.064733
2000-02-01  146772.265654
2000-03-01  147943.683788
2000-04-01  149107.817637
2000-05-01  150247.760649
2000-06-01  151364.608753
2000-07-01  152457.017608
2000-08-01  153530.934463
2000-09-01  154597.187112
2000-10-01  155691.101045
2000-11-01  156804.237598
2000-12-01  157978.351721
2001-01-01  159201.775407
2001-02-01  160410.849711
2001-03-01  161555.950902
2001-04-01  162664.345730
2001-05-01  163717.366844
2001-06-01  164729.619347
2001-07-01  165707.861474
2001-08-01  166666.391466
2001-09-01  167634.309929
2001-10-01  168653.357200
2001-11-01  169714.371301
2001-12-01  170846.292102
2002-01-01  172058.120845
2002-02-01  173311.938336
2002-03-01  174550.062103
2002-04-01  175769.284723
2002-05-01  176957.558267
2002-06-01  178131.760064
2002-07-01  179301.906919
2002-08-01  180477.891430
2002-09-01  181696.493023
2002-10-01  182962.913714
2002-11-01  184453.159933
2002-12-01  186098.173449
2003-01-01  187610.681669
2003-02-01  188930.160006
2003-03-01  190295.616278
2003-04-01  191691.758603
2003-05-01  193112.990429
2003-06-01  194601.804632
2003-07-01  196006.780152
2003-08-01  197610.872872
2003-09-01  199257.667512
2003-10-01  200939.572619
2003-11-01  202586.613546
2003-12-01  204228.359290
2004-01-01  207492.620700
2004-02-01  209244.217982
2004-03-01  211168.039896
2004-04-01  213296.509107
2004-05-01  215615.416305
2004-06-01  218136.246025
2004-07-01  220658.172765
2004-08-01  223353.453128
2004-09-01  226056.895432
2004-10-01  228744.641697
2004-11-01  231299.465974
2004-12-01  233785.465830
2005-01-01  236197.426127
2005-02-01  238563.124596
2005-03-01  240871.017095
2005-04-01  243402.183594
2005-05-01  245934.664560
2005-06-01  248474.874300
2005-07-01  250549.564286
2005-08-01  252925.442857
2005-09-01  255151.628571
2005-10-01  257204.985714
2005-11-01  258995.542857
2005-12-01  260551.178571
2006-01-01  261477.013375
2006-02-01  262687.485771
2006-03-01  263850.576266
2006-04-01  264959.113546
2006-05-01  265878.713717
2006-06-01  266561.959306
2006-07-01  266695.604630
2006-08-01  266818.043031
2006-09-01  266757.139814
2006-10-01  266590.875524
2006-11-01  266316.523468
2006-12-01  266090.974934
2007-01-01  265816.833298
2007-02-01  265624.760689
2007-03-01  265366.333404
2007-04-01  265036.424874
2007-05-01  264491.781890
2007-06-01  263696.341204
2007-07-01  262677.172218
2007-08-01  261586.201276
2007-09-01  260415.577605
2007-10-01  259139.142452
2007-11-01  257695.776045
2007-12-01  256114.812190
2008-01-01  254395.855767
2008-02-01  252515.797676
2008-03-01  250538.729102
2008-04-01  248491.584018
2008-05-01  246309.457353
2008-06-01  243985.661661
2008-07-01  241710.336283
2008-08-01  239648.205310
2008-09-01  237774.272566
2008-10-01  236009.734513
2008-11-01  234330.385841
2008-12-01  232780.842478
2009-01-01  231308.672892
2009-02-01  229820.522071
2009-03-01  228199.285512
2009-04-01  226440.435767
2009-05-01  224442.204301
2009-06-01  222453.671477
2009-07-01  220988.595065
2009-08-01  220049.077282
2009-09-01  219437.446086
2009-10-01  219064.356926
2009-11-01  218900.530298
2009-12-01  218844.042989
2010-01-01  218812.231335
2010-02-01  219116.756222
2010-03-01  216704.313344
2010-04-01  215818.025602
2010-05-01  215273.660776
2010-06-01  215196.925003
2010-07-01  214382.823448
2010-08-01  213508.928200
2010-09-01  212475.130073
2010-10-01  211428.310787
2010-11-01  210326.576483
2010-12-01  209098.015956
2011-01-01  207595.957918
2011-02-01  206395.598007
2011-03-01  205402.464009
2011-04-01  204642.594131
2011-05-01  204012.631506
2011-06-01  203430.571705
2011-07-01  202726.976230
2011-08-01  202212.493090
2011-09-01  201718.705086
2011-10-01  201293.193753
2011-11-01  200940.954947
2011-12-01  200644.043671
2012-01-01  200219.759983
2012-02-01  200069.287537
2012-03-01  200272.349817
2012-04-01  200824.656873
2012-05-01  201558.155735
2012-06-01  202274.412028
2012-07-01  202879.534339
2012-08-01  203592.284907
2012-09-01  204337.921058
2012-10-01  205118.247572
2012-11-01  206036.550251
2012-12-01  207004.656609
2013-01-01  207745.450178
2013-02-01  208791.545430
2013-03-01  210145.422729
2013-04-01  211730.785067
2013-05-01  213399.382377
2013-06-01  215113.127917
2013-07-01  216674.798139
2013-08-01  218163.500753
2013-09-01  219413.008074
2013-10-01  220509.586698
2013-11-01  221509.880936
2013-12-01  222473.737512
2014-01-01  223183.207200
2014-02-01  224135.937820
2014-03-01  225082.573123
2014-04-01  226124.783528
2014-05-01  227232.010636
2014-06-01  228310.622486
2014-07-01  229099.280038
2014-08-01  230141.744210
2014-09-01  231060.035319
2014-10-01  231927.514773
2014-11-01  232822.135434
2014-12-01  233712.307274
2015-01-01  234691.190654
2015-02-01  235760.279834
2015-03-01  236836.426000
2015-04-01  238009.760239
2015-05-01  239354.207702
2015-06-01  240744.121443
2015-07-01  242103.525097
2015-08-01  243424.444746
2015-09-01  244658.269374
2015-10-01  245764.565646
2015-11-01  246765.041092
2015-12-01  247765.170142
2016-01-01  248896.366230
2016-02-01  249987.312368
2016-03-01  251014.310942
2016-04-01  252164.273586
2016-05-01  253483.637846
2016-06-01  254820.084222
2016-07-01  256205.780072
2016-08-01  257597.914827
2016-09-01  258946.023229
2016-10-01  260254.316376
2016-11-01  261576.900088
2016-12-01  262923.792705
2017-01-01  264373.259526
2017-02-01  265755.097467
2017-03-01  267065.115805
2017-04-01  268533.505400
2017-05-01  270226.842355
2017-06-01  271824.716430
2017-07-01  273335.393602
2017-08-01  274865.774638
2017-09-01  276464.619982
2017-10-01  278033.186171
2017-11-01  279520.858521
2017-12-01  281095.320247
2018-01-01  282657.060382
2018-02-01  284368.688447
2018-03-01  286511.376757
2018-04-01  288039.944305

In [250]:
data.value.count()

265